* {
  font-family: Monospace, sans-serif;
  background-color: rgb(7, 7, 7);
  color: white;
}

header {
  color: white;
}

nav {
  margin-top: 15px;
  margin-right: 50px;
}

header li,
.hard-skills li,
header h2,
header ul {
  display: inline;
  list-style-type: none;
}

header li {
  padding-left: 50px;
  float: right;
}

header a {
  text-decoration: none;
}

.hero img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  float: right;
}

.hero h1,
p {
  display: block;
}

.hero {
  display: flex;
  justify-content: center;
  margin: 100px;
}

.hero a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  text-decoration: none;
  border: 2px solid white;
}

.hero .request-button {
  background-color: white;
  color: rgb(7, 7, 7);
}
.hard-skills,
.hard-skills li {
  background-color: rgb(10, 10, 10);
  padding: 30px;
  text-align: center;
}

.hard-skills li {
  display: inline-block;
  color: rgb(168, 168, 168);
  padding: 10px;
  margin-left: 50px;
}

.bottom-site {
  text-align: center;
}

.bottom-site ul {
  list-style-type: none;
}
